<%= form_for(@outfit, :html => { :class => "form-horizontal" }) do |f| %>
  <fieldset>
    <legend><%= @outfit.new_record? ? "New Outfit" : "Edit Outfit" %></legend>

    <% if @outfit.errors.any? %>
      <div class="alert">
        <h3><%= pluralize(@outfit.errors.count, "error") %> prohibited this outfit from being saved:</h3>

        <ul>
        <% @outfit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, nil, { :class => "control-label" } %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, nil, { :class => "control-label" } %>
      <div class="controls">
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :color, nil, { :class => "control-label" } %>
      <div class="controls">
        <%= f.text_field :color %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :size, nil, { :class => "control-label" } %>
      <div class="controls">
        <%= f.text_field :size %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit nil, { :class => "btn btn-primary" } %>
      </div>
    </div>
  </fieldset>
<% end %>
