<% content_for :left_column do %>
  <%= link_to 'New Outfit', new_outfit_path %>
<% end %>

<h1>Listing outfits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Color</th>
      <th>Size</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @outfits.each do |outfit| %>
      <tr>
        <td><%= outfit.name %></td>
        <td><%= outfit.description %></td>
        <td><%= outfit.color %></td>
        <td><%= outfit.size %></td>
        <td><%= link_to 'Show', outfit %></td>
        <td><%= link_to 'Edit', edit_outfit_path(outfit) %></td>
        <td><%= link_to 'Destroy', outfit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
