<!DOCTYPE html>
<html>
<head>
  <title>Wdi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Outfits Project</a>
    <ul class="nav">
      <li><%= link_to "Outfits", outfits_path %></li>
      <li><%= link_to "New Outfit", new_outfit_path %></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span3">
      <%= yield :left_column %>
    </div>

    <div class="span9">
      <%= yield %>
    </div>
  </div>
</div>

<footer class="container">
  <div class="row">
    <div class="span12">
      Copyright <%= Time.now.year %>
    </div>
  </div>
</footer>

</body>
</html>
